@import "component/reset.scss";
@import "component/navbar";
@import "pages/home.scss";
@import "pages/about.scss";
@import "pages/contact.scss";
@import "pages/yardımlar.scss";
@import "pages/giris-yontemi.scss";
@import "pages/Giris.scss";
@import "base/mixin";
@import "base/colors";
@import "base/title";
@import "base/help_button";
@import "component/responsive.scss";


.register_label{

color: white;
float: left;
font-size: 18px;
font-weight: 500;
margin-bottom: 10px;
}
.kayit_btn{
    cursor: pointer;
    width: 100%;
}